<footer class="l-footer l-footer-single">
    <div class="l-footer-pagetop">
        <div class="pagetop pagetop-single">
            <a href="#">
                トップへ戻る
                <span class="pagetop-icon">
                    <%- include('./svg/icon-drop.svg') %>
                </span>
            </a>
        </div>
    </div>
    <div class="l-footer-wave">
        <%- include('./svg/wave.svg') %>
    </div>
    <div class="l-footer-bottom">
        <div class="copyright">Copyright© 働きたくない日記 , 2016 All Rights Reserved.</div>
    </div>
</footer>
<%- include('./_insert-footer') %>
</body>
</html>
