/*
#styleguide
icon-2x

```
<i class="icon-2x icon-alert"></i>
<i class="icon-2x icon-arrow"></i>
<i class="icon-2x icon-attend"></i>
<i class="icon-2x icon-camera"></i>
<i class="icon-2x icon-customer"></i>
<i class="icon-2x icon-list"></i>
<i class="icon-2x icon-logo"></i>
<i class="icon-2x icon-mail"></i>
<i class="icon-2x icon-nav-close"></i>
<i class="icon-2x icon-nav-open"></i>
<i class="icon-2x icon-password"></i>
<i class="icon-2x icon-question"></i>
```
*/

$icon-alert: 170px 60px -170px -60px 42px 36px 238px 189px '../images/icon-2x.png' icon-alert;
$icon-arrow: 0px 60px 0px -60px 54px 52px 238px 189px '../images/icon-2x.png' icon-arrow;
$icon-attend: 60px 60px -60px -60px 56px 45px 238px 189px '../images/icon-2x.png' icon-attend;
$icon-camera: 44px 118px -44px -118px 40px 36px 238px 189px '../images/icon-2x.png' icon-camera;
$icon-customer: 132px 118px -132px -118px 32px 31px 238px 189px '../images/icon-2x.png' icon-customer;
$icon-list: 40px 162px -40px -162px 30px 24px 238px 189px '../images/icon-2x.png' icon-list;
$icon-logo: 0px 0px 0px 0px 238px 54px 238px 189px '../images/icon-2x.png' icon-logo;
$icon-mail: 0px 162px 0px -162px 34px 27px 238px 189px '../images/icon-2x.png' icon-mail;
$icon-nav-close: 0px 118px 0px -118px 38px 38px 238px 189px '../images/icon-2x.png' icon-nav-close;
$icon-nav-open: 122px 60px -122px -60px 42px 40px 238px 189px '../images/icon-2x.png' icon-nav-open;
$icon-password: 170px 118px -170px -118px 33px 29px 238px 189px '../images/icon-2x.png' icon-password;
$icon-question: 90px 118px -90px -118px 36px 36px 238px 189px '../images/icon-2x.png' icon-question;


$icon-2x: ($icon-alert,$icon-arrow,$icon-attend,$icon-camera,$icon-customer,$icon-list,$icon-logo,$icon-mail,$icon-nav-close,$icon-nav-open,$icon-password,$icon-question,);
@each $sprite in $icon-2x {
    $name: nth($sprite,10);
    .icon-2x.#{$name} {
        @include sprite($sprite,0.5);
    }
}